body{
    font-family: 'Montserrat', sans-serif ;
    
}

.titulo {
    width: 100%;
    height: 400px;
}

.titulo h1 {
    padding-top: 150px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.3rem;

}

.text h2 {
    margin-top: 40px;
    text-align: center;
}

/* @keyframes Titulo {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
} */