.titulo {
    width: 100%;
    height: 400px;
    background: #0033FF;

    text-align: center;
}

#solapa {
    transform: translateY(-1px);
    width: 100%;
    height: 28px;
}

.titulo h1 {
    text-transform: uppercase;
    font-size: 4rem;
    color: aliceblue;
    padding-top: 150px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.3rem;
}

.text h2 {
    margin-top: 40px;
    text-align: center;
}

/* @keyframes Titulo {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
} */

@media screen and (max-width:600px){
    #solapa {
        height: 20px;
        transform: translateY(-5px);
    }

    .titulo {
        height: 300px;
    }

    .titulo h1 {
        font-size: 3rem;
        padding-top: 120px;
    }
}

@media screen and (max-width:415px){
    #solapa {
        height: 15px;
        transform: translateY(-8px);
    }

    .titulo h1 {
        font-size: 2rem;
        padding-top: 120px;
    }
}